.profileContainer {
	width: 1120px;
	color: #171717;
	gap: 20px;
	
	display: flex;
	flex-direction: column;
	background: #FFF;
}

.profileTopSection {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	gap: 20px;
}

.profileImage {
	width: 455.07px;
	height: 730.428px;
	flex-shrink: 0;
	border-radius: 24px;
	background-blend-mode: luminosity;
	
	background: url('./profile-pic.jpg') lightgray 50% / cover no-repeat;
}

.profileDetailsContainer {
	display: flex;
	width: 645px;
	height: 730px;
	//padding: 40px;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;

	border-radius: 24px;
	background: #3F947D;
}

.profileContactInfoContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;

	padding: 0 40px 0 40px;
}

.profileBottomSection {
	padding: 46px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20px;

  //width: 1120px;
  //height: 376px;
  border-radius: 24px;
  background: #2A6656;
}

.reviewBox {
  display: flex;
	width: 180px;
	height: 200px;
  padding: 24px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  border-radius: 20px;
  background: #FFF;
	gap: 20px;
}

.reviewText {
  overflow: hidden;
  color: #535049;
  text-overflow: ellipsis;

	display: -webkit-box; 
  -webkit-box-orient: vertical; 
  -webkit-line-clamp: 5; 
}

.reviewSlideContainer {
	width: 800px;
	border-radius: 24px;
	background: #F8F7F4;
}

.reviewSwiperContainer {
	background: #2A6656;
}
