.mainContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #FFF;
	gap: 32px;
  width: 1120px;
  margin: auto;
	padding-top: 20px;
	padding-bottom: 80px;
  color: #171717;
}

.topNavBar {
  display: flex;
  width: 100%;
  padding: 18px;
  justify-content: space-between;
  align-items: center;
  
  border-radius: 24px;
  background: #F8F7F4;
  backdrop-filter: blur(20px);
}

.mainSection {
  display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
  width: 740px;
  margin: auto;
  color: #171717;
}

.roundCard {
  display: flex;
  padding: 48px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  border-radius: 24px;
}

.imageCard {
  width: 361px;
  height: 600px;
  padding: 0;
  border-radius: 24px;
  background: url('../assets/home-shot.png') 50% / cover no-repeat;
  flex-shrink: 0;
}

.multiColumnSection {
  width: 100%;
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.logoCard {
  display: flex;
  width: 260px;
  justify-content: center;
  align-items: center;

  border-radius: 24px;
  background: #2A6656;
}

.companyLogo {
	max-width: 128px;
	max-height: 128px;
	background-size: contain;
}

.bottomCard {
  display: flex;
  padding: 36px 40px 40px 40px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  
  border-radius: 24px;
  background: #3F947D;
}

.agentButtonIcon {
	width: 40px;
	height: 40px;
	flex-shrink: 0;
	border-radius: 24px;
	border: 2px solid #FFF;
	background-blend-mode: luminosity;

	background: lightgray 50% / cover no-repeat;
}
