.During-Container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
	padding: 12px 8px;
	gap: 48px;
	/* position: relative; */
	background: linear-gradient(179.99deg, #FFFFFF 0.01%, #EEECE6 66.41%);
}

.During-Footer-Content {
		display: flex;
		flex-direction: column;
		/* align-items: flex-end; */
		padding: 0px;
		gap: 12px;	
}
